body {
	overflow:hidden;
}

.app {
	display: grid;
	grid-template-areas:
		'Template Preview'
		'Data Preview';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 100vh;
	width: 100vw;
}

.edit-area {
	border-bottom: 1px solid white;
	grid-area: Template;
}

.preview-area {
	grid-area: Preview;
	height: 50vh;
	width: 50vw;
}

.data-area {
	grid-area: Data;
	height: 50vh;
	width: 50vw;
}

.CodeMirror {
	height: 50vh!important;
	width: 50vw;
}
