.app {
	display: grid;
	grid-template-areas:
		'Template Preview'
		'Data Preview';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 100vh;
	width: 100vw;
}

.edit-area {
	grid-area: Template;
}

.preview-area {
	grid-area: Preview;
}

.data-area {
	grid-area: Data;
}
